* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5{
    text-align: center;
    color: #333;
}

header,
footer{
    padding: 0.5rem 8rem;
    margin: 0;
    height: 3rem;
    width: 100%;
    position: fixed;
    background-color: crimson;
}

header{
    top: 0;
    display: flex;
    justify-content: space-between;
}

section{
    padding: 4rem 1rem;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer{
    bottom: 0;
}

.menu{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
}

.menu .menu-btn{
    display: none;
}

.menu .menu-btn button{
    background: none;
    color: #333;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.menu .menu-btn button:hover{
    color: #fff;
}

.menu ul{
    display: flex;
    flex-direction: row;
}

.menu ul li{
    padding: 0rem 1rem;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}

.menu ul li a:hover{
    color: #fff;
}

.heading-home{
    margin-bottom: 4rem;
}

.home-choices{
    display: flex;
}

.home-choice{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid crimson;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.home-choice:hover{
    transform: scale(1.1);   
}

.home-choice i{
    margin-bottom: 1rem;
    font-size: 5rem;
    color: crimson;
}

.home-choice h1{
    text-align: center;
}

input{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #222;
    color: crimson;
    font-size: 1.3rem;
}

.item{
    margin: 1rem 0.5rem;
    height: 15rem;
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #fff;
}

.item .image{
    width: 30%;
    height: 100%;
}

.item .details {
    width: 70%;
    height: 100%;
    text-align: center;
}

@media (max-width: 900px){
    header{
    padding: 0.5rem 4rem;
    }
}

@media (max-width: 700px){
    header{
    padding: 0.5rem 2rem;
    }
    header h1{
        font-size: 1.5rem;
    }
    .menu .menu-btn{
        display: block;
    }
    header .menu ul{
        position: absolute;
        top: 3rem;
        right: -15rem;
        flex-direction: column;
        transition: 1s ease-in-out
    }
    header .menu ul li{ 
        background-color: #444;
        padding: 1rem 4rem;
    }
    header .menu ul li a{
        color: crimson;
    }
}