* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5{
    text-align: center;
    color: #333;
}

header,
footer{
    padding: 0.5rem 8rem;
    margin: 0;
    height: 3rem;
    width: 100%;
    position: fixed;
    background-color: #333;
}

header{
    top: 0;
    display: flex;
    justify-content: space-between;
}

header h1{
    color: #fff;
}

section{
    padding: 4rem 0;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}

footer{
    bottom: 0;
}

footer .copyright h4{
    color: #fff;
}

/*Menu style*/
.menu{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
}

#menu_btn_id{
    display: none;
    background: none;
    color: #fff;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#menu_btn_id:hover{
    color: crimson;
}

.menu ul{
    display: flex;
    flex-direction: row;
}

.menu ul li{
    padding: 0rem 1rem;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}

.menu ul li a:hover{
    color: crimson;
}

/*Filters style*/
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
}

.inputs input{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #222;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.inputs select{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #222;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

/*Items style*/
.items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item{
    margin: 1rem;
    padding: 0;
    width: 30%;
    min-width: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid #333;
    border-radius: 1rem;
    list-style: none;
}

.item .image{
    width: 40%;
    height: 100%;
}

.item .image img{
    width: 100%;
    height: 100%;
    max-height: 30rem;
    min-height: 14rem;
    border-top-left-radius: 1rem;
}

.item .details {
    width: 60%;
    height: 100%;
    padding: 1rem;
}

.item .details ul{
    padding: 1rem 0 0.5rem 0;
}

.item .details ul li{
    padding: 0.2rem 0;
    list-style: none;
}

.item .details ul li p{
    font-size: 0.9rem;
}

.item .details button{
    float: right;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #333;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.item .details button:hover{
    color: crimson;
}


@media (max-width: 900px){
    header{
    padding: 0.5rem 4rem;
    }
}

@media (max-width: 780px){
    header{
    padding: 0.5rem 2rem;
    }
    header h1{
        font-size: 1.5rem;
    }
    #menu_btn_id{
        display: block;
    }
    header .menu ul{
        position: absolute;
        top: 3rem;
        right: -15rem;
        flex-direction: column;
        transition: 1s ease-in-out
    }
    header .menu ul li{ 
        background-color: #444;
        padding: 1rem 4rem;
    }
    header .menu ul li a{
        color: crimson;
    }
    .item{
        width: 100%;
        min-width: 20rem;
    }
    .item .image{
        flex: 100%;
    }
    .item .image img{
        border-top-right-radius: 1rem;
    }
    .item .details{
        flex: 100%;
    }
    .items .details ul{
        padding-left: 3rem;
    }
    footer .footer h3{
        font-size: 0.9rem;
    }
}